<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Canonical URL -->
<link rel="canonical" href="@ViewBag.Canonical" />

<!-- Primary Meta Tags -->
<title>@ViewBag.Title</title>
<meta name="title" content="@ViewBag.Title" />
<meta name="description" content="@ViewBag.Description" />
<meta name="robots" content="@ViewBag.Robots" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content=@ViewBag.Canonical />
<meta property="og:title" content="@ViewBag.Title" />
<meta property="og:description" content="@ViewBag.Description" />
<meta property="og:image" content=@ViewBag.Image />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content=@ViewBag.Canonical />
<meta property="twitter:title" content="@ViewBag.Title" />
<meta property="twitter:description" content="@ViewBag.Description" />
<meta property="twitter:image" content=@ViewBag.Image />
